<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bawt Estética</title>
    <meta property="og:title" content="Bawt Estética" />
    <meta property="og:description" content="Clínica de Beleza" />
    <meta property="og:image" content="/static/logoMM.png" />
    <meta property="og:url" content="https://bawt-estetica.vercel.app" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="profile-pic" onclick="toggleBio()">
            <img src="/static/profilePicture.jpeg" alt="Foto de Perfil">
        </div>
    </header>

    <!-- Container para a biografia -->
    <div id="bio" class="bio-content">
        <p><strong>Michelly Monteiro:</strong> Esteticista.</p>
    </div>

    <section class="image-grid">
        <div class="circle-container">
            <a href="pagina1.html" class="circle">
                <img src="/static/ServiceCircle1.jpeg" alt="">
            </a>
            <p>Serviços</p>
        </div>
        
        <div class="circle-container">
            <a href="pagina2.html" class="circle">
                <img src="/static/logoMM.png" alt="Imagem 2">
            </a>
            <p>Sobre nós</p>
        </div>
        
        <div class="circle-container">
            <a href="pagina3.html" class="circle">
                <img src="/static/mae.png" alt="Imagem 3">
            </a>
            <p>Agendamento</p>
        </div>
        
        <div class="circle-container">
            <a href="pagina4.html" class="circle">
                <img src="/static/ThorfinnManga.jpg" alt="Imagem 4">
            </a>
            <p>Feedbacks</p>
        </div>
        
        <div class="circle-container">
            <a href="pagina5.html" class="circle">
                <img src="/static/ThorfinnManga.jpg" alt="Imagem 5">
            </a>
            <p>Venda de produtos</p>
        </div>
        
        <div class="circle-container">
            <a href="pagina6.html" class="circle">
                <img src="/static/ThorfinnManga.jpg" alt="Imagem 6">
            </a>
            <p>Dicas de bem estar</p>
        </div>
    </section>
    


    <script src="main.js"></script>
</body>
</html>
