    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        font-family: Arial, sans-serif;
        /*background: rgb(2,0,36);
        background: linear-gradient(60deg, rgb(247, 1, 255) 0%, rgb(0, 0, 0) 45%, rgb(247, 1, 255) 100%);*/
        color: white;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    header {
        width: 100%;
        background-color: rgba(34, 33, 34, 0.774);
        padding: 15px 0;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .menu {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .menu li a {
        text-decoration: none;
        color: #e5e5e5;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .menu li a:hover {
        color: white;
    }

    

    /* Seção Início */
.inicio-section {
    display: flex;
    flex-direction: column; /* Alinha conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh;
    text-align: center;
    background: linear-gradient(0deg,rgb(0, 0, 0) 1%, rgb(244, 103, 249) 50%);
    position: relative;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.intro-text .logo {
    max-width: 500px;
    margin-bottom: 40px;
}

.intro-text h1 {
    font-size: 3rem;
    color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 30px 60px;
    background-color: #943894;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6a265a;
}

    /* Seção Procedimentos */
    .procedimentos-section {
        background-color: #eee;
        color: #333;
        padding: 60px 20px;
    }
    
    .procedimentos-grid {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    
    .procedimentos-container {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 1000px;
        width: 100%;
    }
    
    .procedimentos-container.reverse {
        flex-direction: row-reverse;
    }
    
    .image-container,
    .procedimentos-text {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .image-container img {
        width: 100%;
        max-width: 300px;
        border-radius: 8px;
    }
    
    .procedimentos-text {
        max-width: 400px;
    }
    
    .procedimentos-text h3 {
        font-size: 1.8rem;
        color: #4b2354;
        margin-bottom: 10px;
    }
    
    .procedimentos-text p {
        font-size: 1rem;
        line-height: 1.5;
    }
    
    
    /* Seção "Quem Somos" */

    .about-section {
        background: rgb(2,0,36);
        background: linear-gradient(160deg,rgb(156, 1, 156) 45%, rgb(0, 0, 0) 100%);
        color: #eee3ea;
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quem-somos-container {
        display: flex;
        gap: 20px;
        align-items: flex-start; /* Alinha a imagem e o texto ao topo */
        max-width: 1000px; /* Defina um limite para a largura máxima */
    }

    .quem-somos-container img {
        width: 100%;
        max-width: 300px; /* Tamanho máximo da imagem */
        border-radius: 20px;
    }

    .quem-somos-text {
        display: flex;
        flex-direction: column; /* Coloca o h2 e p em uma coluna */
        justify-content: flex-start; /* Alinha o texto no topo */
        max-width: 600px; /* Define um tamanho máximo para o texto */
        margin: 0;
    }

    .quem-somos-text h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: white;
    }

    .quem-somos-text p {
        margin-top: 10px;
    }

    
    /* Seção do Mapa */
    .map-section {
        width: 100%;
        height: 400px;
        margin-bottom: 40px; /* Espaçamento entre o mapa e a seção de contato */
    }

    #map {
        width: 100%;
        height: 100%;
    }
    /* Seção de Contato */
    .contact-section {
        background-color: black;
        padding: 40px 20px;
        width: 100%;
        text-align: center;
        color: white;
    }

    .contact-section h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .contact-section ul {
        list-style: none;
        font-size: 1.2rem;
    }

    .contact-section li {
        margin-bottom: 10px;
    }



    /* Media Query para dispositivos móveis */
    @media (max-width: 768px) {
        .quem-somos-container {
            flex-direction: column; /* Empilha a imagem e o texto verticalmente */
            align-items: center; /* Centraliza o conteúdo */
            text-align: center; /* Centraliza o texto */
        }

        .quem-somos-container img {
            max-width: 100%; /* Faz a imagem ocupar 100% da largura disponível */
        }

        .quem-somos-text {
            max-width: 100%; /* O texto também ocupa toda a largura disponível */
            margin-top: 20px; /* Adiciona um espaçamento entre a imagem e o texto */
        }
    }

    /* Estilos básicos para o corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .floating-buttons {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    right: 40px; /* Distância da direita da tela */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os botões */
}

.floating-buttons {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os botões */
}

.floating-button {
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Arredonda levemente as bordas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra do botão */
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
    cursor: pointer; /* Cursor de ponteiro */
    display: flex; /* Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.floating-button img {
    width: 60px; /* Ajuste a largura da imagem */
    height: 60px; /* Ajuste a altura da imagem */
    border-radius: 50%; /* Faz as imagens redondas */
}

.floating-button:hover {
    transform: scale(1.1); /* Efeito de aumentar o botão ao passar o mouse */
}

/* Cores de fundo específicas para cada rede social */
.facebook {
    background-color: white; /* Azul do Facebook */
}

.instagram {
    background-color: white; /* Rosa do Instagram */
}

.whatsapp {
    background-color: white; /* Verde do WhatsApp */
}