* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, black, #d4af37, white);
    position: relative;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer; 
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bio-content {
    display: none;
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.bio-content p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 50px;
}

.circle-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;
}


.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.circle-container p {
    margin-top: 10px; 
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}

.circle:hover {
    transform: scale(1.1);
}




@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px; 
    }
}


@media (max-width: 480px) {
    .image-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .circle {
        width: 120px;
        height: 120px;
    }

    .circle-container p {
        font-size: 1rem; 
    }
}
